In [10]:
import json
import pandas as pd

In [11]:
folder = 'F:\\_Bounty\\northwell\\input_files\\'
file = "11-1639818_Mather Memorial Hospital_StandardCharges.json"

In [28]:
with open(folder + file, 'r') as f:
    jf = json.load(f)

In [29]:
try:
        cols = jf['Headers']
        data = jf['Data']
        df = pd.DataFrame(columns=cols, data=data)
        normal_file = True
except TypeError:
    df = pd.DataFrame(jf)
    normal_file = False
del jf

In [32]:
print(df.columns.tolist())

['Site', 'Identifier_Code', 'Billing_Code', 'Identification_Description', 'Charge', 'GHI HMO OP', 'GHI HMO IP', 'Health Care Partners HMO OP', 'Health Care Partners HMO IP', 'HIP EPO OP', 'HIP EPO IP', 'HIP HMO OP', 'HIP HMO IP', 'HIP HMO ACP OP', 'HIP HMO ACP IP', 'HIP Child Health Plus OP', 'HIP Child Health Plus IP ', 'GHI Federal Employees OP', 'GHI Federal Employees IP', 'GHI Network Access OP', 'GHI Network Access IP', 'GHI NYC Health OP', 'GHI NYC Health IP', 'GHI PPO OP', 'GHI PPO IP', 'HIP PPO OP', 'HIP PPO IP', 'Humana OP', 'Humana IP', 'HCP Select Care HIX OP', 'HCP Select Care HIX IP', 'HIP Select Care OP', 'HIP Select Care IP', 'Health Care Partners Essential 1 or 2 OP', 'Health Care Partners Essential 1 or 2 IP', 'HIP Essential 1 or 2 OP', 'HIP Essential 1 or 2 IP', 'Aetna HMO OP', 'Aetna HMO IP', 'Aetna Managed Choice POS OP', 'Aetna Managed Choice POS IP', 'Aetna Network OP', 'Aetna Network IP', 'Aetna PPO OP', 'Aetna PPO IP', 'Aetna Signature OP', 'Aetna Signature IP', 'Aetna Signature Network OP', 'Aetna Signature Network IP', 'Aetna Traditional Choice OP', 'Aetna Traditional Choice IP', 'CoreSource Aetna OP', 'CoreSource Aetna IP', 'Local 1199 OP', 'Local 1199 IP', 'Mailhandlers OP', 'Mailhandlers IP', 'Meritain Health OP', 'Meritain Health IP', 'CoreSource OP', 'CoreSource IP', 'GEHA OP', 'GEHA IP', 'BC CHS POS OP', 'BC CHS POS IP', 'Blue Cross EPO OP', 'Blue Cross EPO IP', 'Blue Cross HMO OP', 'Blue Cross HMO IP', 'Blue Cross Out of Area POS OP', 'Blue Cross Out of Area POS IP', 'Blue Cross POS OP', 'Blue Cross POS IP', 'Blue Cross SCEMHP POS OP', 'Blue Cross SCEMHP POS IP', 'Blue Cross Exchange Group PPO OP', 'Blue Cross Exchange Group PPO IP', 'Blue Cross HealthPlus Individual Exchange OP', 'Blue Cross HealthPlus Individual Exchange IP', 'Blue Cross Exchange Group OP', 'Blue Cross Exchange Group IP', 'Blue Cross Blue Access Large Group OP', 'Blue Cross Blue Access Large Group IP', 'Blue Cross Blue Access Small Group OP', 'Blue Cross Blue Access Small Group IP', 'Blue Cross Connection OP', 'Blue Cross Connection IP', 'BC HP Essentl 1 or 2 OP', 'BC HP Essentl 1 or 2 IP', 'BC CHS PPO EPO OP', 'BC CHS PPO EPO IP', 'Blue Cross BS of New Jersey OP', 'Blue Cross BS of New Jersey IP', 'Blue Cross Federal Employ OP', 'Blue Cross Federal Employ IP', 'Blue Cross Indemnity OP', 'Blue Cross Indemnity IP', 'Blue Cross NYC Healthline OP', 'Blue Cross NYC Healthline IP', 'Blue Cross NYSHIP OP', 'Blue Cross NYSHIP IP', 'Blue Cross Out of Area OP', 'Blue Cross Out of Area IP', 'Blue Cross PPO OP', 'Blue Cross PPO IP', 'Blue Cross SCEMHP PPO OP', 'Blue Cross SCEMHP PPO IP', 'Oxford Freedom OP', 'Oxford Freedom IP', 'Oxford Liberty OP', 'Oxford Liberty IP', 'UMR OP', 'UMR IP', 'United HC Network OP', 'United HC Network IP', 'United HealthCare HMO OP', 'United HealthCare HMO IP', 'United HealthCare PPO OP', 'United HealthCare PPO IP', 'UHC NYSHIP OP', 'UHC NYSHIP IP', 'UHC Compass OP', 'UHC Compass IP', 'UHC Essential 1 or 2 OP', 'UHC Essential 1 or 2 IP', 'APWU OP', 'APWU IP', 'Cigna HMO OP', 'Cigna HMO IP', 'Cigna Open Access Plus OP', 'Cigna Open Access Plus IP', 'Cigna PPO OP', 'Cigna PPO IP', 'Cigna Network OP', 'Cigna Network IP', 'CoreSource Cigna OP', 'CoreSource Cigna IP', 'Great West Open Access OP', 'Great West Open Access IP', 'Great West PPO OP', 'Great West PPO IP', 'Mvp Healthcare OP', 'Mvp Healthcare IP', 'NALC Health OP', 'NALC Health IP', 'Magna Preffered OP', 'Magna Preffered IP', 'Local 1102 Health and Benefit Fund OP', 'Local 1102 Health and Benefit Fund IP', 'Magnacare Direct Plus OP', 'Magnacare Direct Plus IP', 'Magnacare Northwell Employee OP', 'Magnacare Northwell Employee IP', 'IBEW Local 3 OP', 'IBEW Local 3 IP', 'Laborers Local 1298 OP', 'Laborers Local 1298 IP', 'Coventry OP', 'Coventry IP', 'HealthFirst EPO OP', 'HealthFirst EPO IP', 'HealthFirst Essential 1 or 2 OP', 'HealthFirst Essential 1 or 2 IP ', 'Affinity Essential 1 or 2  OP', 'Affinity Essential 1 or 2  IP', 'Choicecare Network OP', 'Choicecare Network IP', 'First Health Network OP', 'First Health Network IP', 'HealthSmart WTC OP', 'HealthSmart WTC IP', 'Island Group Admin OP', 'Island Group Admin IP', 'PHCS Multiplan OP', 'PHCS Multiplan IP', 'Affinity Child HP OP', 'Affinity Child HP IP', 'Affinity Medicaid OP', 'Affinity Medicaid IP', 'Affinity Essential 3 or 4 OP', 'Affinity Essential 3 or 4 IP', 'BC HealthPlus Child Health Plus OP ', 'BC HealthPlus Child Health Plus IP', 'BC HealthPlus Medicaid OP', 'BC HealthPlus Medicaid IP', 'BC HP Essentl 3 or 4 OP ', 'BC HP Essentl 3 or 4 IP', 'Blue Cross Medicaid OP ', 'Blue Cross Medicaid IP', 'ElderPlan Medicaid OP ', 'ElderPlan Medicaid IP', 'Fidelis CHP OP ', 'Fidelis CHP IP', 'Fidelis Medicaid OP ', 'Fidelis Medicaid IP', 'Fidelis Essentl 3 or 4 OP', 'Fidelis Essentl 3 or 4 IP', 'Fidelis HIX OP ', 'Fidelis HIX IP', 'Health Care Partners Medicaid OP', 'Health Care Partners Medicaid IP', 'Health Care Partners Essential 3 or 4 OP', 'Health Care Partners Essential 3 or 4 IP', 'Health Care Partners CHP OP', 'Health Care Partners CHP IP', 'HealthFirst Essential 3 or 4 OP', 'HealthFirst Essential 3 or 4 IP', 'Health First Child HP OP', 'Health First Child HP IP', 'HealthFirst HIX OP', 'HealthFirst HIX IP', 'Health First Medicaid OP', 'Health First Medicaid IP', 'HIP Essential 3 or 4 OP', 'HIP Essential 3 or 4 IP', 'Hip Medicaid OP ', 'Hip Medicaid IP', 'UHC Medicaid OP', 'UHC Medicaid IP', 'UHC Child HP OP', 'UHC Child HP IP', 'UHC Essential 3 or 4 OP', 'UHC Essential 3 or 4 IP', 'UHC Wellness 4Me OP', 'UHC Wellness 4Me IP', 'Aetna Medicare HMO OP', 'Aetna Medicare HMO IP', 'Blue Cross Medicare HMO OP', 'Blue Cross Medicare HMO IP', 'Blue Cross Medicare PPO OP', 'Blue Cross Medicare PPO IP', 'Blue Cross OOA Medicare OP', 'Blue Cross OOA Medicare IP', 'CenterLight MCR OP', 'CenterLight MCR IP', 'CenterLight Pace OP', 'CenterLight Pace IP', 'Coventry Medicare OP', 'Coventry Medicare IP', 'ElderPlan Medicare OP', 'ElderPlan Medicare IP', 'Fidelis Medicare OP', 'Fidelis Medicare IP', 'GHI Medicare Choice OP', 'GHI Medicare Choice IP', 'GuildNet Gold HMO OP', 'GuildNet Gold HMO IP', 'Health Care Partners Medicare HIP OP', 'Health Care Partners Medicare HIP IP', 'Hip Medicare OP', 'Hip Medicare IP', 'HealthFirst Medicare OP', 'HealthFirst Medicare IP', 'Humana Medicare OP', 'Humana Medicare IP', 'LiveWell Medicare OP', 'LiveWell Medicare IP', 'Oxford Medicare OP', 'Oxford Medicare IP', 'Partners Health Plan OP', 'Partners Health Plan IP', 'QHP of New York OP', 'QHP of New York IP', 'Sunrise Advantage Plan OP', 'Sunrise Advantage Plan IP', 'UHC Medicare OP', 'UHC Medicare IP', 'United HealthCare Medicare HMO OP', 'United HealthCare Medicare HMO IP', 'United Healthcare Medicare PPO OP', 'United Healthcare Medicare PPO IP', 'United HealthCare Medicare Regional PPO OP', 'United HealthCare Medicare Regional PPO IP', 'VNS Choice Medicare Advantage OP', 'VNS Choice Medicare Advantage IP', 'Wellcare Medicare OP', 'Wellcare Medicare IP', 'Aetna Behavioral Health', 'Aetna Medicare Behavioral Health', 'Aetna Network Behavioral Health', 'BC HealthPlus Medicaid Behavioral Health', 'BC NYC Beacon Health Options', 'BC OOS Beacon Health Options', 'Beacon Health Options', 'Beacon Health Options CHP', 'Beacon Health Strategy', 'Beacon Health Strategy CHP', 'Beacon Health Strategy HIX', 'Beacon Health Strategy Medicare', 'Blue Cross Behavioral', 'Blue Cross Blue Access Large Group Behavioral Health', 'Blue Cross Blue Access Small Group Behavioral Health', 'Blue Cross Connection Behavioral Health', 'Blue Cross Exchange Group Behavioral Health', 'Blue Cross Exchange Group PPO Behavioral Health', 'Blue Cross HealthPlus Individual Exchange Behavioral Health', 'Blue Cross Medicare Behavioral Health', 'Blue Cross Out of State Behavioral Health', 'Cigna Behavioral Health', 'Fidelis CHP Behavioral Health', 'Fidelis Medicaid Behavioral Health', 'Fidelis Medicare Behavioral Health', 'Fidelis Essential 1 or 2 Behavioral Health', 'Fidelis Essential 3 or 4 Behavioral Health', 'Fidelis HIX Behavioral Health', 'GHI Beacon Health Options', 'GHI HMO Beacon Health Options', 'GHI MCR Beacon Health Options', 'HealthFirst HIX Behavioral Health', 'HealthFirst Medicaid Behavioral Health', 'HealthFirst Medicare Behavioral Health', 'HIP EPO Beacon Health Options', 'HIP Essential 1 or 2 Behavioral Health', 'HIP Essential 3 or 4 Behavioral Health', 'HIP HMO Beacon Health Options', 'HIP MCD Beacon Health Options', 'HIP MCR Beacon Health Options', 'HIP PPO Beacon Health Options', 'Local 1199 Behavioral Health', 'Magnacare PPO Behavioral Health', 'Magnacare Direct Plus Behavioral Health', 'Magnacare Northwell Direct Behavioral Health', 'Meritain Behavioral Health', 'NYSHIP Beacon Health Options', 'Oxford Behavioral Health', 'PHCS Multiplan Behavioral Health', 'SC EMHP Beacon Health Options', 'Teamsters Behavioral Health', 'UBH Child Health Plus', 'UBH Medicare Behavioral Health', 'UBH Optumhealth', 'UBH Wellness 4Me', 'UHC Community Behavioral Health', 'UHC Essential 1 or 2 Behavioral Health', 'UHC Essential 3 or 4 Behavioral Health', 'UMR Behavioral Health', 'Wellcare Medicare Behavioral Health', 'Discounted Cash Price', 'De-identified Minimum all', 'De-identified Maximum all']

In [15]:
df.rename(columns={
    'Identification_Description': 'description',
    'Identifier_Description': 'description',
    'Identifier_Code': 'local_code',
    'Billing_Code': 'code'
}, inplace=True)

In [16]:
df.drop('Site', axis=1, inplace=True)

In [17]:
df['local_code'] = df['local_code'].replace("", pd.NA)
df['code'] = df['code'].replace("", pd.NA)

In [18]:
cols = df.columns.tolist()
id_vars = cols[:3]
value_vars = cols[3:]

df = pd.melt(df, id_vars=id_vars, value_vars=value_vars, var_name='payer_name', value_name='standard_charge')

In [19]:
df['standard_charge'] = df['standard_charge'].replace('', pd.NA)
df['standard_charge'] = df['standard_charge'].str.replace(',', '')

In [20]:
df.dropna(subset='standard_charge', inplace=True)

In [21]:
mapping = {
    'Charge': 'gross',
    'De-identified Maximum': 'max',
    'De-identified Minimum': 'min',
    'Discounted Cash Price': 'cash',   
}

df['payer_category'] = df['payer_name'].map(mapping).fillna('payer')

In [22]:
df.loc[~df['code'].isna()]

,local_code,code,description,payer_name,standard_charge,payer_category
0,-,APR DRG 0011,Liver transplant &/or intestinal transplant,Charge,-,gross
1,-,APR DRG 0012,Liver transplant &/or intestinal transplant,Charge,-,gross
2,-,APR DRG 0013,Liver transplant &/or intestinal transplant,Charge,-,gross
3,-,APR DRG 0014,Liver transplant &/or intestinal transplant,Charge,-,gross
4,-,APR DRG 0021,Heart &/or lung transplant,Charge,-,gross
...,...,...,...,...,...,...
5833627,81730350,90840,Psytx crisis ea addl 30 min,De-identified Maximum all,319.00,payer
5833628,81730087,90846,Family psytx w/o pt 50 min,De-identified Maximum all,319.00,payer
5833629,81730095,90847,Family psytx w/pt 50 min,De-identified Maximum all,319.00,payer
5833630,81730103,90849,Multiple family group psytx,De-identified Maximum all,319.00,payer
5833631,20011136,90853,Group psychotherapy,De-identified Maximum all,319.00,payer

In [26]:
df.loc[df['standard_charge'].str.lower() == 'case rate']

,local_code,code,description,payer_name,standard_charge,payer_category
19031,68010099,96401,CHEMO INJ NON-HOR ANTI-NEO,GHI HMO OP,Case Rate,payer
19032,68010628,96402,CHEMO INJ HORMONAL ANTI-NEO,GHI HMO OP,Case Rate,payer
19033,68010289,96409,IV PUSH TECH 1ST CHMO DRG 1HR,GHI HMO OP,Case Rate,payer
19034,68010636,96411,IV PUSH TECH EA AD'L CHEMO DRG,GHI HMO OP,Case Rate,payer
19035,68010297,96413,IV INFUSION TECH 1ST CHMO DRUG,GHI HMO OP,Case Rate,payer
...,...,...,...,...,...,...
991311,68010321,96422,IA INFUS CHEMO 1ST HR 96422,GEHA OP,Case Rate,payer
991312,68010388,96423,IA INFUS CHEMO EA ADD HR 96423,GEHA OP,Case Rate,payer
991313,68010339,96425,"CHEMO,IV>8 HOURS PORTABLE PUMP",GEHA OP,Case Rate,payer
991315,68010347,96542,CHEMO INJECTN INTO A RESERVOIR,GEHA OP,Case Rate,payer
991316,68010354,96549,"CHEMO, UNSPECIFIED",GEHA OP,Case Rate,payer

In [ ]:
df.loc[(~df['code'].isna()) & (df['code'].str.contains('APR DRG')), 'apr_drg_temp'] = df['code']
df.loc[~df['apr_drg_temp'].isna(), 'apr_drg_temp'] = df['apr_drg_temp'].str.replace('APR DRG ', '')
df.loc[~df['apr_drg_temp'].isna(), 'apr_drg'] = df['apr_drg_temp'].str[:3] + '-' + df['apr_drg_temp'].str[-1]
df.drop('apr_drg_temp', axis=1, inplace=True)

In [ ]:
df.loc[(~df['code'].isna()) & (df['code'].str.match(r'^[A-Z][0-9]{4}|[0-9]{5}|[0-9]{4}[A-Z]$')), 'hcpcs_cpt'] = df['code']

In [ ]:
ccn = {'11-1667761_South Shore University Hospital_StandardCharges.json': '330043',
 '11-1630914_Huntington Hospital_StandardCharges.json': '330045',
 '11-1562701_North Shore University Hospital_StandardCharges.json': '330106',
 '11-1661359_Peconic Bay Medical Center_StandardCharges.json': '330107',
 '13-1624070_Lenox Hill Hospital_StandardCharges.json': '330119',
 '11-2868878_Staten Island University Hospital_StandardCharges.json': '330160',
 '13-1740118_Northern Westchester Hospital_StandardCharges.json': '330162',
 '11-1633487_Glen Cove Hospital_StandardCharges.json': '330181',
 '11-1639818_Mather Memorial Hospital_StandardCharges.json': '330185',
 '11-2241326_Long Island Jewish Hospital_StandardCharges.json': '330195',
 '13-1725076_Phelps Memorial Hospital Center_StandardCharges.json': '330261',
 '11-3241243_Plainview Hospital_StandardCharges.json': '330331',
 '11-2241326_Long Island Jewish Forest Hills_StandardCharges.json': '330353',
 '11-2241326_Long Island Jewish Valley Stream_StandardCharges.json': '330372',
 '11-1562701_Syosset Hospital_StandardCharges.json': '330398'}

In [ ]:
id = ccn[file]

df['hospital_id'] = id

# df.to_csv(file.split('_')[0] + '_' + id + '.csv', index=False)

In [ ]:
mask = pd.to_numeric(df['standard_charge'], errors='coerce').isna()
df2 = df[mask]
df2.drop_duplicates(subset='standard_charge')

,local_code,code,description,payer_name,standard_charge,payer_category,apr_drg,hcpcs_cpt,hospital_id,ms_drg,contracting_method,additional_payer_notes
55528,4100981,81232,Dpyd gene common variants,Empire Blue Access EPO,<NA>,payer,NaN,81232,330045,NaN,other,POC

In [ ]:
df = df.drop(df[df['standard_charge'] == 'N/A'].index)

In [ ]:
df.loc[(~df['code'].isna()) & (df['code'].str.contains('MSDRG')), 'ms_drg'] = df['code'].str.extract(r'MSDRG(\d+)', expand=False)

In [ ]:
# Create a dictionary mapping of standard_charge values to replacement values
charge_map = {
    'POC': ('other', 'POC', pd.NA),
    'NSP': ('other', 'NSP', pd.NA),
    'Packaged': ('other', 'Packaged', pd.NA),
    'APG - Bundling': ('other', 'APG - Bundling', pd.NA)
}

# Replace standard_charge values based on the dictionary mapping
for charge, values in charge_map.items():
    df.loc[df['standard_charge'] == charge, ['contracting_method', 'additional_payer_notes', 'standard_charge']] = values

# Replace standard_charge values that contain ' PD'
df.loc[df['standard_charge'].str.contains(' PD', na=False), ['contracting_method', 'additional_payer_notes']] = ['other', 'PD']
df['standard_charge'] = df['standard_charge'].str.replace(' PD', '')

In [ ]:
# df.loc[df['standard_charge'] == 'POC', ['contracting_method', 'additional_payer_notes', 'standard_charge']] = ['other', 'POC', pd.NA]
# df.loc[df['standard_charge'] == 'NSP', ['contracting_method', 'additional_payer_notes', 'standard_charge']] = ['other', 'NSP', pd.NA]
# df.loc[df['standard_charge'] == 'Packaged', ['contracting_method', 'additional_payer_notes', 'standard_charge']] = ['other', 'Packaged', pd.NA]
# df.loc[df['standard_charge'] == 'APG - Bundling', ['contracting_method', 'additional_payer_notes', 'standard_charge']] = ['other', 'APG - Bundling', pd.NA]

In [ ]:
# df.loc[(~df['standard_charge'].isna()) & (df['standard_charge'].str.contains('PD')), ['contracting_method', 'additional_payer_notes']] = ['other', 'PD']
# df['standard_charge'] = df['standard_charge'].str.replace(' PD', '')

In [ ]:
df.loc[df['code'].str.len() == 5]

,local_code,code,description,payer_name,standard_charge,payer_category,apr_drg,hcpcs_cpt,hospital_id,ms_drg,contracting_method,additional_payer_notes
1819,4210239,78300,Bone imaging limited area,Charge,1316.00,gross,NaN,78300,330045,NaN,NaN,NaN
1820,4210248,78709,K flow/funct image multiple,Charge,2950.00,gross,NaN,78709,330045,NaN,NaN,NaN
1821,4210410,78597,Lung perfusion differential,Charge,1632.00,gross,NaN,78597,330045,NaN,NaN,NaN
1822,4210420,78598,Lung perf&ventilat diferentl,Charge,2950.00,gross,NaN,78598,330045,NaN,NaN,NaN
1823,4210700,78102,Bone marrow imaging ltd,Charge,1086.00,gross,NaN,78102,330045,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
14483237,64410590,J1566,immune globulin (GAMMAGARD S/D 10%) 5 Gram(s) ...,Discounted Cash Price,1212.97,cash,NaN,J1566,330045,NaN,NaN,NaN
14483242,64411564,J9218,leuprolide Kit (LUPRON) 5 mG/mL Injectable,Discounted Cash Price,916.21,cash,NaN,J9218,330045,NaN,NaN,NaN
14483246,64411937,J3490,"lidocaine 1% w/epinephrine 1:100,000 Injection",Discounted Cash Price,0.07,cash,NaN,J3490,330045,NaN,NaN,NaN
14483247,64411945,J3490,"lidocaine 1.5% w/epinephrine 1:200,000 Injectable",Discounted Cash Price,0.31,cash,NaN,J3490,330045,NaN,NaN,NaN
14483248,64412042,J2001,lidocaine 2% Injectable,Discounted Cash Price,1.06,cash,NaN,J2001,330045,NaN,NaN,NaN