In [32]:
import pandas as pd

In [33]:
folder = './input_files/'

# file = '46-0360899_CusterHospital_StandardCharges.xlsx'
# file = '46-0360899_LeadDeadwoodHospital_StandardCharges.xlsx'
file = '46-0360899_SturgisHospital_StandardCharges.xlsx'

In [34]:
df = pd.read_excel(folder + file, dtype=str, skiprows=1)

In [35]:
df.drop(columns=['Location', 'Charge'], inplace=True)

In [36]:
df.rename(columns={
    'Code Type': 'line_type',
    'Code': 'code',
    'Description': 'description',
    'Patient Type': 'setting'
}, inplace=True)

In [37]:
df['setting'] = df['setting'].str.lower()

In [38]:
cols = df.columns.tolist()
id_vars = cols[:4]
val_vars = cols[4:]

df = pd.melt(df, id_vars=id_vars, value_vars=val_vars, var_name='payer_name', value_name='standard_charge')

In [39]:
df

,line_type,code,description,setting,payer_name,standard_charge
0,Per Diem(per day),ALL,All services included in a stay,inpatient,Blue Cross Medicare Blue\nInpatient,1924.95
1,Per Diem(per day),ALL,All services included in a stay,inpatient,Blue Cross Medicare Blue\nInpatient Swingbed,1753.78
2,Per Diem(per day),ALL,All services included in a stay,inpatient,United Heatlhcare (UHC) Medicare\nInpatient,2120
3,Per Diem(per day),ALL,All services included in a stay,inpatient,United Heatlhcare (UHC) Medicare\nInpatient Sw...,1850
4,Per Diem(per day),ALL,All services included in a stay,inpatient,United Heatlhcare (UHC) Medicare\nInpatient Sw...,400