In [1]:
import pandas as pd

In [2]:
folder = './other_input_files/'

file = '431240629.csv'

In [3]:
df = pd.read_csv(folder + file, dtype=str)

In [4]:
df

                   Description Code Price
0                    SWING BED  NaN  1065
1                 PRIVATE ROOM  NaN  1680
2              OUTPATIENT ROOM  NaN     0
3        LEAVE OF ABSENCE ROOM  NaN     0
4               INTENSIVE CARE  NaN  4540
5           INTENSIVE CARE- ED  NaN  4540
6        SEMIPRIVATE ROOM - ER  NaN  1043
7       SEMIPRIVATE ROOM - STO  NaN  1680
8   PRIVATE ROOM MED - MEDICAL  NaN  1751
9                 PRIVATE ROOM  NaN  1671
10      SEMIPRIVATE ROOM - ICU  NaN  1680
11          PRIVATE ROOM - ICU  NaN  1837
12  SEMIPRIVATE ROOM - MEDICAL  NaN  1655