In [47]:
import pandas as pd
import numpy as np

In [48]:
folder = '.\\input_files\\'

file = '160743226_upmc-chautauqua_standardcharges.csv'
df = pd.read_csv(folder + file, dtype=str)

In [49]:
df.rename(columns={
    'Description': 'description',
    'CPT/DRG': 'code',
    'NDC': 'ndc'
}, inplace=True)

In [50]:
cols = df.columns.tolist()
id_vars = cols[:4]
value_vars = cols[4:]

df = pd.melt(df, id_vars=id_vars, value_vars=value_vars, var_name='payer_name', value_name='standard_charge')

In [51]:
df.loc[(df['code'].str.len() < 3) | (df['code'].str.len() == 3), 'ms_drg'] = df['code'].str.zfill(3)
df.loc[df['code'].str.len() == 5, 'hcpcs_cpt'] = df['code']

In [52]:
df['setting'] = np.where(df['payer_name'].str.startswith('IP ') | df['payer_name'].str.endswith(' IP'), 'inpatient', np.where(df['payer_name'].str.startswith('OP ') | df['payer_name'].str.endswith(' OP'), 'outpatient', 1))

In [53]:
df.drop('Hospital', axis=1, inplace=True)

In [54]:
df['payer_name'] = df['payer_name'].str.strip()

In [55]:
mapping = {
    'IP Price': 'gross',
    'OP Price': 'gross',
    'Gross Charges IP': 'gross',
    'Gross Charges OP': 'gross',
    'Discounted Cash Price IP': 'cash',
    'Discounted Cash Price OP': 'cash',
    'Min Rate': 'min',
    'Max Rate': 'max',
    'IP Cash Price': 'cash',
    'OP Cash Price': 'cash',

}

df['payer_category'] = df['payer_name'].map(mapping).fillna('payer')

In [59]:
df['standard_charge'] = df['standard_charge'].str.strip()
df['standard_charge'] = df['standard_charge'].str.replace('\$|,', '')

\Local\Temp\ipykernel_17920\2058482917.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['standard_charge'] = df['standard_charge'].str.replace('\$|,', '')

In [61]:
df.dropna(subset='standard_charge', inplace=True)

In [ ]:
ccns = {
 '160743226': '330239',
 '250965423': '390002',
 '250965406': '390016',
 '250965429': '390028',
 '240795508': '390045',
 '820880337': '390058',
 '251778644': '390067',
 '820844453': '390068',
 '821600494': '390071',
 '231352155': '390073',
 '250489010': '390091',
 '820912090': '390101',
 '232875070': '390102',
 '250965451': '390107',
 '250965420': '390114',
 '231396795': '390117',
 '250965480': '390164',
 '250523970': '390178',
 '231360851': '390233',
 '274814831': '390328',
 '250402510': '393302',
 '250965387': '399817'
 }

 ein = file.split('_')[0]

 id = ccns[ein]

 df['hospital_id'] = id

In [62]:
df

,description,code,ndc,payer_name,standard_charge,ms_drg,hcpcs_cpt,setting,payer_category,standard_charge2
0,FNA BX W/US GDN 1ST LES,10005,NaN,IP Price,1134.00,NaN,10005,inpatient,gross,1134.00
1,FNA BX W/US GDN EA ADDL,10006,NaN,IP Price,1134.00,NaN,10006,inpatient,gross,1134.00
2,IMG GUID DRN SOFT TIS CTH PERC,10030,NaN,IP Price,1641.00,NaN,10030,inpatient,gross,1641.00
3,ID SIMPLE ABSCESS,10060,NaN,IP Price,128.00,NaN,10060,inpatient,gross,128.00
4,ID COMPL ABSCESS,10061,NaN,IP Price,128.00,NaN,10061,inpatient,gross,128.00
...,...,...,...,...,...,...,...,...,...,...
166669,Cesarean Section W/O Sterilization W/O Cc/Mcc,788,NaN,Univera Comm,7097.33,788,NaN,1,payer,7097.33
166670,Neonate w other significant problems,794,NaN,Univera Comm,3530.55,794,NaN,1,payer,3530.55
166671,Normal newborn,795,NaN,Univera Comm,1076.95,795,NaN,1,payer,1076.95
166672,Vaginal Delivery W/O Sterilization/D&C W/O Cc/Mcc,807,NaN,Univera Comm,6520.79,807,NaN,1,payer,6520.79
166688,Psychoses,885,NaN,Univera Comm,9180.00,885,NaN,1,payer,9180.00

In [58]:
df

,description,code,ndc,payer_name,standard_charge,ms_drg,hcpcs_cpt,setting,payer_category,standard_charge2
0,FNA BX W/US GDN 1ST LES,10005,NaN,IP Price,"$1,134.00",NaN,10005,inpatient,gross,1134.00
1,FNA BX W/US GDN EA ADDL,10006,NaN,IP Price,"$1,134.00",NaN,10006,inpatient,gross,1134.00
2,IMG GUID DRN SOFT TIS CTH PERC,10030,NaN,IP Price,"$1,641.00",NaN,10030,inpatient,gross,1641.00
3,ID SIMPLE ABSCESS,10060,NaN,IP Price,$128.00,NaN,10060,inpatient,gross,128.00
4,ID COMPL ABSCESS,10061,NaN,IP Price,$128.00,NaN,10061,inpatient,gross,128.00
...,...,...,...,...,...,...,...,...,...,...
166693,Complications of treatment w CC,920,NaN,Univera Comm,NaN,920,NaN,1,payer,NaN
166694,Signs & symptoms w/o MCC,948,NaN,Univera Comm,NaN,948,NaN,1,payer,NaN
166695,Other factors influencing health status,951,NaN,Univera Comm,NaN,951,NaN,1,payer,NaN
166696,Extensive O.R. procedure unrelated to principa...,981,NaN,Univera Comm,NaN,981,NaN,1,payer,NaN
166697,Non-extensive O.R. proc unrelated to principal...,987,NaN,Univera Comm,NaN,987,NaN,1,payer,NaN