In [3]:
import pandas as pd
import polars as pl
import os
from tqdm import tqdm

In [4]:
folder = '.\\input_files\\'
file = '221494454_StLukesHospitalWarrenCampus_standardcharges.csv'

df = pd.read_csv(folder + file, dtype=str)

In [5]:
df.rename(columns={
    'Record ID': 'local_code',
    'Description': 'description',
    'CPT/DRG': 'code',
}, inplace=True)

In [6]:
cols = df.columns.tolist()
id_vars = cols[:3]
value_vars = cols[3:]

df = pd.melt(df, id_vars=id_vars, value_vars=value_vars, var_name='payer', value_name='standard_charge')

In [7]:
df.loc[df['code'].str.len() == 3, 'ms_drg'] = df['code']
df.loc[df['code'].str.len() == 5, 'hcpcs_cpt'] = df['code']

In [8]:
df['payer'] = df['payer'].str.strip()

In [9]:
mapping = {
    'Gross Charge': 'gross',
    'Self Pay': 'cash',
    'Min Payment': 'min',
    'Max Payment': 'max'
}

df['payer_category'] = df['payer'].map(mapping).fillna('payer')

In [10]:
df['standard_charge'] = df['standard_charge'].str.replace('\$|,|\(|\)', '', regex=True)

In [11]:
df['standard_charge'] = df['standard_charge'].astype(float)

In [12]:
df['ms_drg'].fillna('', inplace=True)
df['hcpcs_cpt'].fillna('', inplace=True)
df['code'].fillna('', inplace=True)
df['local_code'].fillna('', inplace=True)

In [13]:
df1 = df.copy()

In [19]:
df = df1.copy()

In [20]:
df.drop_duplicates(subset='payer')

,local_code,description,code,payer,standard_charge,ms_drg,hcpcs_cpt,payer_category
0,71728,"""DEVICE, MYOSURE TISSUE RESECTION""",,Gross Charge,10925.00,,,gross
41770,71728,"""DEVICE, MYOSURE TISSUE RESECTION""",,Aetna (All Plans) Payment,3159.11,,,payer
83540,71728,"""DEVICE, MYOSURE TISSUE RESECTION""",,Aetna MC (All Plans) Payment,1157.34,,,payer
125310,71728,"""DEVICE, MYOSURE TISSUE RESECTION""",,Amerihealth Caritas (All Plans) Payment,821.81,,,payer
167080,71728,"""DEVICE, MYOSURE TISSUE RESECTION""",,Amerihealth NJ (All Plans) Payment,1135.28,,,payer
208850,71728,"""DEVICE, MYOSURE TISSUE RESECTION""",,Amerihealth Northeast (All Plans) Payment,785.52,,,payer
250620,71728,"""DEVICE, MYOSURE TISSUE RESECTION""",,CBC (Except EPO) Payment,2762.58,,,payer
292390,71728,"""DEVICE, MYOSURE TISSUE RESECTION""",,CBC EPO Payment,2584.11,,,payer
334160,71728,"""DEVICE, MYOSURE TISSUE RESECTION""",,Cigna (All Plans) Payment,2947.14,,,payer
375930,71728,"""DEVICE, MYOSURE TISSUE RESECTION""",,Freedom Blue (All Plans) Payment,1229.23,,,payer
417700,71728,"""DEVICE, MYOSURE TISSUE RESECTION""",,Gateway (All Plans) Payment,1108.17,,,payer
459470,71728,"""DEVICE, MYOSURE TISSUE RESECTION""",,Geisinger (All Plans) Payment,2784.11,,,payer
501240,71728,"""DEVICE, MYOSURE TISSUE RESECTION""",,Geisinger GHP Family (All Plans) Payment,889.71,,,payer
543010,71728,"""DEVICE, MYOSURE TISSUE RESECTION""",,Geisinger Gold (All Plans) Payment,1382.10,,,payer
584780,71728,"""DEVICE, MYOSURE TISSUE RESECTION""",,Highmark (All Plans) Payment,2778.85,,,payer
626550,71728,"""DEVICE, MYOSURE TISSUE RESECTION""",,Horizon (All Plans) Payment,2351.27,,,payer
668320,71728,"""DEVICE, MYOSURE TISSUE RESECTION""",,Horizon Blue MC (All Plans) Payment,1110.26,,,payer
710090,71728,"""DEVICE, MYOSURE TISSUE RESECTION""",,Horizon NJ Health (All Plans) Payment,619.55,,,payer
751860,71728,"""DEVICE, MYOSURE TISSUE RESECTION""",,IBC (All Plans) Payment,1649.93,,,payer
793630,71728,"""DEVICE, MYOSURE TISSUE RESECTION""",,Keystone 65 (All Plans) Payment,1114.43,,,payer
835400,71728,"""DEVICE, MYOSURE TISSUE RESECTION""",,Keystone First (All Plans) Payment,570.04,,,payer
877170,71728,"""DEVICE, MYOSURE TISSUE RESECTION""",,United (All Plans) Payment,3011.88,,,payer
918940,71728,"""DEVICE, MYOSURE TISSUE RESECTION""",,Self Pay,1966.50,,,cash
960710,71728,"""DEVICE, MYOSURE TISSUE RESECTION""",,Min Payment,570.04,,,min
1002480,71728,"""DEVICE, MYOSURE TISSUE RESECTION""",,Max Payment,3159.11,,,max

In [21]:
df.loc[df['payer'].str.contains('All Plans'), 'plan'] = 'all plans'
df['payer'] = df['payer'].str.replace(' (All Plans) Payment', '')
df['payer'] = df['payer'].str.replace(' Payment', '')
df['payer'] = df['payer'].str.replace(' (All Plans)', '')
df['payer'] = df['payer'].str.strip().str.strip()

In [22]:
df.drop_duplicates(subset='payer')

,local_code,description,code,payer,standard_charge,ms_drg,hcpcs_cpt,payer_category,plan
0,71728,"""DEVICE, MYOSURE TISSUE RESECTION""",,Gross Charge,10925.00,,,gross,NaN
41770,71728,"""DEVICE, MYOSURE TISSUE RESECTION""",,Aetna,3159.11,,,payer,all plans
83540,71728,"""DEVICE, MYOSURE TISSUE RESECTION""",,Aetna MC,1157.34,,,payer,all plans
125310,71728,"""DEVICE, MYOSURE TISSUE RESECTION""",,Amerihealth Caritas,821.81,,,payer,all plans
167080,71728,"""DEVICE, MYOSURE TISSUE RESECTION""",,Amerihealth NJ,1135.28,,,payer,all plans
208850,71728,"""DEVICE, MYOSURE TISSUE RESECTION""",,Amerihealth Northeast,785.52,,,payer,all plans
250620,71728,"""DEVICE, MYOSURE TISSUE RESECTION""",,CBC (Except EPO),2762.58,,,payer,NaN
292390,71728,"""DEVICE, MYOSURE TISSUE RESECTION""",,CBC EPO,2584.11,,,payer,NaN
334160,71728,"""DEVICE, MYOSURE TISSUE RESECTION""",,Cigna,2947.14,,,payer,all plans
375930,71728,"""DEVICE, MYOSURE TISSUE RESECTION""",,Freedom Blue,1229.23,,,payer,all plans
417700,71728,"""DEVICE, MYOSURE TISSUE RESECTION""",,Gateway,1108.17,,,payer,all plans
459470,71728,"""DEVICE, MYOSURE TISSUE RESECTION""",,Geisinger,2784.11,,,payer,all plans
501240,71728,"""DEVICE, MYOSURE TISSUE RESECTION""",,Geisinger GHP Family,889.71,,,payer,all plans
543010,71728,"""DEVICE, MYOSURE TISSUE RESECTION""",,Geisinger Gold,1382.10,,,payer,all plans
584780,71728,"""DEVICE, MYOSURE TISSUE RESECTION""",,Highmark,2778.85,,,payer,all plans
626550,71728,"""DEVICE, MYOSURE TISSUE RESECTION""",,Horizon,2351.27,,,payer,all plans
668320,71728,"""DEVICE, MYOSURE TISSUE RESECTION""",,Horizon Blue MC,1110.26,,,payer,all plans
710090,71728,"""DEVICE, MYOSURE TISSUE RESECTION""",,Horizon NJ Health,619.55,,,payer,all plans
751860,71728,"""DEVICE, MYOSURE TISSUE RESECTION""",,IBC,1649.93,,,payer,all plans
793630,71728,"""DEVICE, MYOSURE TISSUE RESECTION""",,Keystone 65,1114.43,,,payer,all plans
835400,71728,"""DEVICE, MYOSURE TISSUE RESECTION""",,Keystone First,570.04,,,payer,all plans
877170,71728,"""DEVICE, MYOSURE TISSUE RESECTION""",,United,3011.88,,,payer,all plans
918940,71728,"""DEVICE, MYOSURE TISSUE RESECTION""",,Self Pay,1966.50,,,cash,NaN
960710,71728,"""DEVICE, MYOSURE TISSUE RESECTION""",,Min,570.04,,,min,NaN
1002480,71728,"""DEVICE, MYOSURE TISSUE RESECTION""",,Max,3159.11,,,max,NaN

In [16]:
ccn = {
    '844475996': '390162',
    '824432109': '390332',
    '465143606': '390330',
    '454394739': '390326',
    '251550350': '390183',
    '231352213': '390049',
    '231352213': '390335',
    '231352203': '390035',
    '221494454': '310060'
}

ein = file.split('_')[0]

df['hospital_id'] = ccn[ein]

In [17]:
# df1 = pl.from_pandas(df)
# df1.write_csv('.\\output_files\\' + file.split('_')[1] + '.csv')